<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUOJUe5X2cM_GnMI3tBuIALl_hLjkNKn8</string>
	<key>GCM_SENDER_ID</key>
	<string>290638683653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todo-timer-5eafe</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-timer-5eafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290638683653:ios:88e31eee329dcc4cfc866c</string>
</dict>
</plist>